canvas {
  /* position: relative; */
  top:0px;
  left:25%;
  background-color: black;
  margin:0;
  padding:0; 
  position:absolute;
}

#shape {
  margin: 0;
  padding:0; 
  position:absolute;
  top: 0px;
  left: 0px;
  width: 25%;
  height: 100%;
  background-color: black;
}

button {
  width: 90%;
  margin: 5%;
  height: 10%;
  background-color: #8080ff;
  font-size: 20pt;
}