canvas {
  /* position: relative; */
  top:0px;
  left:25%;
  background-color: black;
  margin:0;
  padding:0; 
  position:absolute;
}

#shape {
  margin: 0;
  padding:0; 
  position:absolute;
  top: 0px;
  left: 0px;
  width: 25%;
  height: 100%;
  background-color: black;
}

button {
  width: 90%;
  margin: 5%;
  height: 10%;
  background-color: #8080ff;
  font-size: 4vmin;
  border: none;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

.input-file-container {
  width: 90%;
  margin: 5%;
  height: 10%;
  background-color: #80ffb5;
  text-align: center;
  vertical-align: middle;
}

.input-file-trigger {
  text-align: center;
  padding: 5%;
  display: block;
  color:black;
  font-size: 4vmin;
  /* transition: all .4s; */
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

.input-file {
  width: 100%;
  left: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 10%;
}